<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
   

    <add name="LoginPage" connectionString="/Login.aspx" />
    <add name="UploadPath" connectionString="/ContentFile/UploadFile" />
    <add name="TeacherTemp" connectionString="教师信息模板.xls" />
    <add name="AssetTemp" connectionString="资产信息模板.xls" />
    <add name="AdminRoleID" connectionString="1" /><!--管理员角色ID，以此判断用户是不是管理员-->
  </connectionStrings>
  <appSettings>
    <add key="EquipImgPath" value="/ContentFile/EquipImg"/>
    <add key="ContractImgPath" value="/ContentFile/Contract"/>
  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <httpRuntime maxRequestLength="20480" />
      
    </system.web>

</configuration>
